body {
  font-family:sans-serif;
  font-size:0.7em;
}

div.bars {
  background-color:DarkRed;
  color:white;
  height:3em;
  line-height:3em;
  padding-right:1em;
  margin-bottom:2px;
  text-align:right;
  margin-left: 35px;
}

div.label {
  height:3em;
  line-height:3em;
  padding-right:1em;
  margin-bottom:2px;
  float:left;
  text-align:right;
}
